.about-content {
    padding: 50px;
    font-family: Josefin;
  
      .about-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
  
        .about-desc {
          width: 100%;
          line-height: 30px;

          h1{
              margin-bottom: 50px;
              margin-top: 10px;
              font-size: 50px;
          }

          p{
              margin-bottom: -80px;
          }
  
        }
      }
  }
  