.homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    .title{
        font-size: 80px;
        font-family: Josefin;
        color: #DB0A40;
        
    }
}

.hero2{
    height: 500px;
    width: 100%;
    background-image: url(../images/champ.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}